.intro-content {
  position: relative;
  top: -8rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  align-items: stretch;
  height: 100vh;
  gap: var(--gap);
}
.intro-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-image img {
  padding: 1rem;
  max-width: 100%;
  height: 80%;
}
.top-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  max-width: 80rem;
}
@media (max-width: 600px) {
  .intro-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
